@import "common-elements.scss";

.slide{
  &:nth-child(1) {
    left: 0;

    .slide__bg {
      left: 0;
      background-image: url('../image/slider-1-foodies.jpg');
    }

    .slide__overlay-path {
      fill: $oxblood;
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: $oxblood;
        opacity: 0.8;
      }
    }
  }
  &:nth-child(2) {
    left: 100%;

    .slide__bg {
      left: -50%;
      background-image: url('../image/slider-2-foodies.jpg');
    }

    .slide__overlay-path {
      fill: $tan;
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: $tan;
        opacity: 0.8;
      }
    }
  }
  &:nth-child(3) {
    left: 200%;

    .slide__bg {
      left: -100%;
      background-image: url('../image/slider-3-foodies.jpg');
    }

    .slide__overlay-path {
      fill: $blackboard;
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: $blackboard;
        opacity: 0.8;
      }
    }
  }
  &:nth-child(4) {
    left: 200%;

    .slide__bg {
      left: -100%;
      background-image: url('../image/slider-4-foodies.jpg');
    }

    .slide__overlay-path {
      fill: $grain;
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: $grain;
        opacity: 0.8;
      }
    }
  }
}

.foodies{
  padding: 0px;
}

.foodies.first{
  padding-top: 25px;
}

.foodies.second{
  padding: 25px 0px;

  .carousel-item{
    a{
      display: inline;
      position: relative;
      overflow: hidden;

      h4{
        position:relative;
        text-decoration:none;
        display:inline-block;
        width: 100%;
        transition: 0.25s;
        color: $blackboard;
        @media screen and (max-width: 766px){
          margin: 15px auto;
        }
      }

      @media screen and (min-width: 767px){
        h4:after {
          display:block;
          content: '';
          border-bottom: solid 1px $blackboard;
          transform: scaleX(0);
          transition: transform 0.25s ease-in-out;
          transform-origin:100% 50%
        }
        h4:hover:after {
          transform: scaleX(1);
          transform-origin:0 50%;
        }
        h4:hover{
          color: $blackboard;
        }
      }
    }
    a:hover{
      text-decoration: none;
    }
  }
}

.foodies.third{
  background-color: $oxblood;
  padding: 25px 0px;
  color: $grain;

  .image-resizer{
    @media screen and (min-width: 1024px){
      min-height: 250px;
      max-height: 250px;
      cursor: pointer;
    }
  }
}