@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

$grain: #D7CEC7;
$blackboard: #565656;
$oxblood: #76323F;
$tan: #C09F80;
$facebook: #8b9dc3;
$dark-facebook: #3b5998;
$twitter: #00aced;
$youtube: #FF0000;
$instagram: #bc2a8d;
$white: #eeeeee;


$openSans: "Open Sans", Helvetica, Arial, sans-serif;
$robotoThin: "Roboto-Thin";